anthropic==0.75.0
attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.3
filelock==3.20.0
HTMLParser==0.0.2
ipython==9.8.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
numpy==2.3.5
openai==2.9.0
Pillow==12.0.0
protobuf==6.33.2
pyOpenSSL==25.3.0
python-dotenv==1.2.1
redis==7.1.0
Shapely==2.1.2
Sphinx==9.0.4
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1